/sicredi-api-gateway/.classpath
/sicredi-api-gateway/.project
/sicredi-api-gateway/target/*

/sicredi-eureka-server/.classpath
/sicredi-eureka-server/.project
/sicredi-eureka-server/target/*

/sicredi-voting-service/.classpath
/sicredi-voting-service/.project
/sicredi-voting-service/target/*

/sicredi-resultmq-service/.classpath
/sicredi-resultmq-service/.project
/sicredi-resultmq-service/target/*

.settings
logs